body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: olive;
  color: #fff;
  height: 90px;
  opacity:0.7;
}

.header-logo img {
  float: left;
  width: 13%;
  height:13%;
  cursor:pointer;
}

.header-list {
  float: left;
  font-size:45px;
  font-family:serif;
  padding-left: 30px;
  padding-top:10px;
}

.main {
  padding: 100px 80px;
}

.main h1 {
  border-bottom: 2px solid olive;
}
.main img {
  height:20%;
  width:20%;
}
